In [1]:
%load_ext autoreload
%autoreload 2

import os
from pathlib import Path

# Override/set credentials in env var
os.environ['CWD'] = str(Path(os.getcwd()).parent)

# Base paths
cwd = Path(os.environ['CWD'])
dir_data = cwd / 'data'


import numpy as np
from PIL import Image

In [164]:
from faker import Faker
fake = Faker()
fake.seed(288)

TypeError: Calling `.seed()` on instances is deprecated. Use the class method `Faker.seed()` instead.

In [10]:
import pandas as pd

db1 = pd.DataFrame([fake.profile() for _ in range(1000)])

In [11]:
db1

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Heritage manager,Hatfield-Parker,130-91-1509,"140 Ashley Pine\nEast Emily, IL 70768","(33.2440415, -46.015898)",A+,"[https://www.hogan-ballard.net/, http://gordon...",courtneywilliams,Jill Cunningham,F,"14952 Collins Rest\nJohnborough, OR 97825",davisanthony@gmail.com,1983-10-17
1,"Engineer, control and instrumentation",Hodges-Hansen,036-69-7731,"663 Dennis Points Apt. 485\nPort Erin, KY 22695","(-58.085221, -168.179805)",A-,[https://smith.biz/],tammy92,John Moreno,M,"526 Brown Branch Suite 528\nMichaelshire, FL 2...",craig71@hotmail.com,1939-01-16
2,Financial trader,"Wilson, Sanchez and Pearson",612-63-9106,"240 Charles Park\nBelltown, SD 42039","(-14.126846, 173.073076)",AB-,"[http://www.ward.com/, https://wright.com/, ht...",stephenramsey,Emily Robinson,F,"13437 Hanson Loop\nWest Suzanne, AR 61696",matthewtownsend@yahoo.com,1958-12-07
3,Prison officer,"Grant, Brown and Graham",315-16-9661,"552 John Gardens\nRobertville, MA 22945","(57.590385, 111.096737)",A+,"[http://www.house.com/, https://www.williams.c...",kjordan,Gabriella Washington,F,"3454 Michelle Bridge\nWest Jeffreyport, OK 56724",lmurphy@yahoo.com,1973-12-11
4,Magazine journalist,"Petty, Rodriguez and Ayala",525-39-1080,"PSC 5288, Box 6688\nAPO AE 66695","(-64.725193, -161.451355)",AB-,"[http://spencer-reyes.net/, https://www.summer...",juliabrown,Kevin Morales,M,USS Whitehead\nFPO AE 94602,hamiltonjoseph@yahoo.com,1977-06-25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"Exhibitions officer, museum/gallery",Martin PLC,118-90-9312,"8719 Johnson Plains Suite 579\nEast Davidland,...","(86.236810, -17.657013)",A+,"[http://www.dixon.net/, http://www.sutton.com/...",fcarter,Casey Payne,M,"002 Morgan Pass Apt. 038\nNorth Jeanettestad, ...",amanda53@gmail.com,1981-07-15
996,Television camera operator,"Soto, Wiley and Mason",575-02-4371,"6303 Gregory Plains Apt. 724\nMoorechester, UT...","(-50.750007, -64.671468)",B+,"[https://peck.com/, https://www.jones.com/, ht...",allenanna,John Maldonado,M,"293 James Neck Suite 872\nLesterport, AL 73346",ncampbell@yahoo.com,1981-02-01
997,"Research officer, political party",Finley-Scott,559-57-5117,"303 Lewis Drives Apt. 799\nMejiastad, OK 43406","(-3.9360115, 157.996130)",O+,[http://jackson.org/],michaelnichols,Tyler Cole,M,"8171 Hayes Mill Suite 333\nErintown, OR 68722",ericksonolivia@yahoo.com,1906-07-18
998,Retail buyer,Lee PLC,301-16-1766,Unit 2356 Box 8110\nDPO AE 58948,"(-19.546836, -46.769615)",O+,[http://www.johnson-davis.com/],andrewhenderson,Brandon Garcia,M,"0412 Lori Plaza\nMatthewfurt, NC 58123",qmclean@yahoo.com,1927-11-09
999,Garment/textile technologist,Wilson and Sons,698-58-6617,"771 Kendra Fall Suite 151\nLindseymouth, IA 31524","(87.9452125, -124.076063)",AB-,"[http://www.smith.biz/, http://acevedo.com/, h...",kenneth62,John Krueger,M,"9665 David Knoll\nSawyerfort, AK 68171",murphysteven@hotmail.com,2020-11-27

In [53]:
db2 = db1[['company', 'address', 'name']]


import re
def _split(txt):
    return [x.strip() for x in re.split('-|\s|and|,', txt) if x.strip() != '']

# _split('Wilson, Sanchez and Pearson')

db2['company'] = db2['company'].apply(lambda txt: 
    np.random.choice(_split(txt))
)

db2['name'] = db2['name'].apply(lambda txt: 
    np.random.choice(_split(txt))
)

db2['address'] = db2['address'].apply(lambda txt: 
    np.random.choice(_split(txt))
)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [71]:
import string

In [73]:
def _add_char_noise(txt, p=0.2, noise_set_chars=[c for c in string.ascii_lowercase + string.digits]):
    txt_noise = ''
    for c in txt:
        if np.random.rand() < p:
            txt_noise += np.random.choice(noise_set_chars)
        else:
            txt_noise += c
    return txt_noise

In [74]:
db2['company'] = db2['company'].apply(_add_char_noise)
db2['address'] = db2['address'].apply(_add_char_noise)
db2['name'] = db2['name'].apply(_add_char_noise)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [78]:
db2 = db2.rename(columns={
    'company': 'noise_cmpny',
    'address': 'noise_addr',
    'name': 'noise_nm'
})

In [125]:
# missing rows + shuffle
db2 = db2.sample(frac=0.8).reset_index(drop=True)

In [86]:
db2

    noise_cmpny  noise_addr    noise_nm
0      Hvtfimld       9782z  Cunninghal
1        H5w6es       Brown      Moreno
2       68ncqez      Hanson    Ro0inson
3         Brown    Minhcll7   Gaqriella
4         Aeala          AE     Morale7
..          ...         ...         ...
995      Martin         00r       Casey
996       Wil3y  L8st5rpsrt   Maldonado
997       Scojt       Suite       Tyl2d
998         8eg        0w12          o4
999        Sens  Sa9yerfore     Krueder

[1000 rows x 3 columns]

In [94]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(analyzer='char_wb',
                        stop_words=None,
                        token_pattern='(?u)\b\w\w+\b',
                        ngram_range=(1, 5),
                        max_df=0.8,
                        min_df=5)

In [104]:
X = np.concatenate([
    [str(x) for x in db1.to_numpy().flatten()],
    [str(x) for x in db2.to_numpy().flatten()]
])

In [106]:
tfidf.fit(X)

TfidfVectorizer(analyzer='char_wb', max_df=0.8, min_df=5, ngram_range=(1, 5),
                token_pattern='(?u)\x08\\w\\w+\x08')

In [113]:
len(tfidf.vocabulary_)

22081

In [130]:
M.shape

(1000, 800)

In [140]:
# M.max(axis=1)

In [147]:
from sklearn.metrics.pairwise import cosine_similarity
l_d_sim = []
for c1 in db1.columns:
    for c2 in db2.columns:
        X1 = tfidf.transform([str(x) for x in db1[c1].values])
        X2 = tfidf.transform([str(x) for x in db2[c2].values])
        M = cosine_similarity(X1, X2)
        max_sim_c1c2 = M.max(axis=1).mean()
        max_sim_c2c1 = M.max(axis=0).mean()
        max_sim_mean = np.mean([max_sim_c1c2, max_sim_c2c1])
        l_d_sim.append({
            'c1': c1,
            'c2': c2,
            'sim': max_sim_mean
        })
#         print(f'Similarity index between DB1({c1}) and DB2({c2}): {max_sim_c1c2}')
df_sim = pd.DataFrame(l_d_sim).sort_values('sim', ascending=False)

In [ ]:
df_sim

In [155]:
set().union(set(['ae']))

{'ae'}

In [162]:
matched = set()
rows_kept = []

for _, row in df_sim.iterrows():
    c1 = row['c1']
    c2 = row['c2']
    if c1 in matched or c2 in matched:
        continue
    else:
        matched = matched.union(set([c1, c2]))
        rows_kept.append(row)

In [163]:
pd.DataFrame(rows_kept)

         c1           c2       sim
26     name     noise_nm  0.536939
3   company  noise_cmpny  0.508493
31  address   noise_addr  0.313532

In [158]:
matched

{'birthdate', 'noise_nm'}